<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ppm</key>
	<string>mage/x-portable-pixma</string>
	<key>sdf</key>
	<string>pplication/e-scor</string>
	<key>ma2</key>
	<string>udio/ma</string>
	<key>ips</key>
	<string>pplication/x-ipscrip</string>
	<key>kjx</key>
	<string>pplication/x-kj</string>
	<key>oom</key>
	<string>pplication/x-AtlasMate-Plugi</string>
	<key>ms</key>
	<string>pplication/x-troff-m</string>
	<key>mtx</key>
	<string>pplication/metastrea</string>
	<key>skt</key>
	<string>pplication/x-Koa</string>
	<key>dcr</key>
	<string>pplication/x-directo</string>
	<key>ma3</key>
	<string>udio/ma</string>
	<key>pae</key>
	<string>udio/x-epa</string>
	<key>wpng</key>
	<string>mage/x-up-wpn</string>
	<key>x-gzip</key>
	<string>pplication/x-gzi</string>
	<key>bin</key>
	<string>pplication/octet-strea</string>
	<key>lsx</key>
	<string>ideo/x-ms-as</string>
	<key>wmlc</key>
	<string>pplication/vnd.wap.wml</string>
	<key>emb</key>
	<string>hemical/x-embl-dl-nucleotid</string>
	<key>shtml</key>
	<string>agnus-internal/parsed-htm</string>
	<key>apk</key>
	<string>pplication/vnd.android.package-archiv</string>
	<key>ma5</key>
	<string>udio/ma</string>
	<key>mtz</key>
	<string>pplication/metastrea</string>
	<key>t</key>
	<string>pplication/x-trof</string>
	<key>aab</key>
	<string>application/x-authoware-bi</string>
	<key>xar</key>
	<string>pplication/vnd.xar</string>
	<key>xhtml</key>
	<string>pplication/xhtml+xm</string>
	<key>xsit</key>
	<string>ext/xm</string>
	<key>smil</key>
	<string>pplication/smi</string>
	<key>ipx</key>
	<string>pplication/x-ipi</string>
	<key>tiff</key>
	<string>mage/tif</string>
	<key>z</key>
	<string>pplication/x-compres</string>
	<key>pps</key>
	<string>pplication/vnd.ms-powerpoin</string>
	<key>sh</key>
	<string>pplication/x-s</string>
	<key>ppt</key>
	<string>pplication/vnd.ms-powerpoin</string>
	<key>wxl</key>
	<string>pplication/x-wx</string>
	<key>dcx</key>
	<string>mage/x-dc</string>
	<key>pqf</key>
	<string>pplication/x-cprplaye</string>
	<key>ttz</key>
	<string>pplication/t-tim</string>
	<key>sea</key>
	<string>pplication/x-stuffi</string>
	<key>stk</key>
	<string>pplication/hyperstudi</string>
	<key>aif</key>
	<string>udio/x-aif</string>
	<key>pan</key>
	<string>pplication/x-pa</string>
	<key>pqi</key>
	<string>pplication/cprplaye</string>
	<key>fvi</key>
	<string>ideo/isivide</string>
	<key>etx</key>
	<string>ext/x-setex</string>
	<key>mng</key>
	<string>ideo/x-mn</string>
	<key>stm</key>
	<string>udio/x-mo</string>
	<key>wpt</key>
	<string>-lml/x-gp</string>
	<key>csh</key>
	<string>pplication/x-cs</string>
	<key>dll</key>
	<string>pplication/octet-strea</string>
	<key>ccn</key>
	<string>pplication/x-cn</string>
	<key>nc</key>
	<string>pplication/x-netcd</string>
	<key>rmvb</key>
	<string>udio/x-pn-realaudi</string>
	<key>xbm</key>
	<string>mage/x-xbitma</string>
	<key>cco</key>
	<string>pplication/x-coco</string>
	<key>aam</key>
	<string>pplication/x-authoware-ma</string>
	<key>sprite</key>
	<string>pplication/x-sprit</string>
	<key>smd</key>
	<string>udio/x-sm</string>
	<key>rdf</key>
	<string>pplication/rdf+xm</string>
	<key>tex</key>
	<string>pplication/x-te</string>
	<key>latex</key>
	<string>pplication/x-late</string>
	<key>pict</key>
	<string>mage/x-pic</string>
	<key>vox</key>
	<string>udio/voxwar</string>
	<key>lml</key>
	<string>-lml/x-lm</string>
	<key>csm</key>
	<string>hemical/x-csm</string>
	<key>class</key>
	<string>pplication/octet-strea</string>
	<key>shar</key>
	<string>pplication/x-sha</string>
	<key>rlf</key>
	<string>pplication/x-richlin</string>
	<key>xyz</key>
	<string>hemical/x-pd</string>
	<key>co</key>
	<string>pplication/x-cult3d-objec</string>
	<key>rte</key>
	<string>-lml/x-gp</string>
	<key>aas</key>
	<string>pplication/x-authoware-se</string>
	<key>smi</key>
	<string>pplication/smi</string>
	<key>prc</key>
	<string>pplication/x-pr</string>
	<key>cdf</key>
	<string>pplication/x-netcd</string>
	<key>3gp</key>
	<string>video/3gp</string>
	<key>rtf</key>
	<string>pplication/rt</string>
	<key>rtg</key>
	<string>pplication/metastrea</string>
	<key>vib</key>
	<string>udio/vi</string>
	<key>moc</key>
	<string>pplication/x-moch</string>
	<key>dmg</key>
	<string>pplication/octet-strea</string>
	<key>wis</key>
	<string>pplication/x-InstallShiel</string>
	<key>wav</key>
	<string>udio/x-wa</string>
	<key>css</key>
	<string>text/css</string>
	<key>mod</key>
	<string>udio/x-mo</string>
	<key>pbm</key>
	<string>mage/x-portable-bitma</string>
	<key>wax</key>
	<string>udio/x-ms-wa</string>
	<key>mof</key>
	<string>pplication/x-yumekar</string>
	<key>ice</key>
	<string>-conference/x-cooltal</string>
	<key>qcp</key>
	<string>udio/vnd.qcel</string>
	<key>mocha</key>
	<string>pplication/x-moch</string>
	<key>smp</key>
	<string>pplication/studio</string>
	<key>si6</key>
	<string>mage/si</string>
	<key>toc</key>
	<string>pplication/to</string>
	<key>vqe</key>
	<string>udio/x-twinvq-plugi</string>
	<key>si7</key>
	<string>mage/vnd.stiwap.si</string>
	<key>sv4cpio</key>
	<string>pplication/x-sv4cpi</string>
	<key>mny</key>
	<string>pplication/x-msmone</string>
	<key>vqf</key>
	<string>udio/x-twinv</string>
	<key>fhc</key>
	<string>mage/x-freehan</string>
	<key>snd</key>
	<string>udio/basi</string>
	<key>hdml</key>
	<string>ext/x-hdm</string>
	<key>evm</key>
	<string>-lml/x-ev</string>
	<key>si9</key>
	<string>mage/vnd.lgtwap.si</string>
	<key>wri</key>
	<string>pplication/x-mswrit</string>
	<key>wmls</key>
	<string>ext/vnd.wap.wmlscrip</string>
	<key>gif</key>
	<string>mage/gi</string>
	<key>mol</key>
	<string>hemical/x-mdl-molfil</string>
	<key>gps</key>
	<string>pplication/x-gp</string>
	<key>tr</key>
	<string>pplication/x-trof</string>
	<key>clp</key>
	<string>pplication/x-mscli</string>
	<key>it</key>
	<string>udio/x-mo</string>
	<key>rmf</key>
	<string>udio/x-rm</string>
	<key>xsl</key>
	<string>ext/xm</string>
	<key>wrl</key>
	<string>-world/x-vrm</string>
	<key>texinfo</key>
	<string>pplication/x-texinf</string>
	<key>dms</key>
	<string>pplication/octet-strea</string>
	<key>xla</key>
	<string>pplication/vnd.ms-exce</string>
	<key>svf</key>
	<string>mage/vn</string>
	<key>proxy</key>
	<string>pplication/x-ns-proxy-autoconfi</string>
	<key>lmlpack</key>
	<string>-lml/x-lmlpac</string>
	<key>vql</key>
	<string>udio/x-twinv</string>
	<key>mop</key>
	<string>hemical/x-mopac-inpu</string>
	<key>ico</key>
	<string>pplication/octet-strea</string>
	<key>hqx</key>
	<string>pplication/mac-binhex4</string>
	<key>svg</key>
	<string>mage/svg-xm</string>
	<key>smz</key>
	<string>udio/x-sm</string>
	<key>xlc</key>
	<string>pplication/vnd.ms-exce</string>
	<key>svh</key>
	<string>mage/sv</string>
	<key>nif</key>
	<string>pplication/x-ni</string>
	<key>bld</key>
	<string>pplication/bl</string>
	<key>mpc</key>
	<string>pplication/vnd.mpohun.certificat</string>
	<key>sgml</key>
	<string>ext/x-sgm</string>
	<key>rtx</key>
	<string>ext/richtex</string>
	<key>movie</key>
	<string>ideo/x-sgi-movi</string>
	<key>xdma</key>
	<string>pplication/x-xdm</string>
	<key>qti</key>
	<string>mage/x-quicktim</string>
	<key>mpe</key>
	<string>ideo/mpe</string>
	<key>asc</key>
	<string>ext/plai</string>
	<key>sv4crc</key>
	<string>pplication/x-sv4cr</string>
	<key>rmm</key>
	<string>udio/x-pn-realaudi</string>
	<key>wsc</key>
	<string>pplication/vnd.wap.wmlscript</string>
	<key>asd</key>
	<string>pplication/astoun</string>
	<key>lgh</key>
	<string>pplication/lg</string>
	<key>mov</key>
	<string>ideo/quicktim</string>
	<key>mpg</key>
	<string>ideo/mpe</string>
	<key>viv</key>
	<string>ideo/viv</string>
	<key>npx</key>
	<string>pplication/x-netfp</string>
	<key>evy</key>
	<string>pplication/x-envo</string>
	<key>pda</key>
	<string>mage/x-pd</string>
	<key>asf</key>
	<string>ideo/x-ms-as</string>
	<key>dvi</key>
	<string>pplication/x-dv</string>
	<key>vre</key>
	<string>-world/x-vrea</string>
	<key>gau</key>
	<string>hemical/x-gaussian-inpu</string>
	<key>pdb</key>
	<string>hemical/x-pd</string>
	<key>xdm</key>
	<string>pplication/x-xdm</string>
	<key>xll</key>
	<string>pplication/x-exce</string>
	<key>nar</key>
	<string>pplication/zi</string>
	<key>xlm</key>
	<string>pplication/vnd.ms-exce</string>
	<key>svr</key>
	<string>-world/x-sv</string>
	<key>pdf</key>
	<string>pplication/pd</string>
	<key>fif</key>
	<string>mage/fi</string>
	<key>wrz</key>
	<string>-world/x-vrm</string>
	<key>tgz</key>
	<string>pplication/x-ta</string>
	<key>mpn</key>
	<string>pplication/vnd.mophun.applicatio</string>
	<key>lha</key>
	<string>pplication/octet-strea</string>
	<key>doc</key>
	<string>pplication/mswor</string>
	<key>toy</key>
	<string>mage/to</string>
	<key>pcx</key>
	<string>mage/x-pc</string>
	<key>swf</key>
	<string>pplication/x-shockwave-flas</string>
	<key>thm</key>
	<string>pplication/vnd.eri.th</string>
	<key>mpp</key>
	<string>pplication/vnd.ms-projec</string>
	<key>asn</key>
	<string>pplication/astoun</string>
	<key>mid</key>
	<string>udio/mid</string>
	<key>sgm</key>
	<string>ext/x-sgm</string>
	<key>vcd</key>
	<string>pplication/x-cdlin</string>
	<key>bcpio</key>
	<string>pplication/x-bcpi</string>
	<key>xls</key>
	<string>pplication/vnd.ms-exce</string>
	<key>cur</key>
	<string>pplication/octet-strea</string>
	<key>asp</key>
	<string>pplication/x-asa</string>
	<key>fpx</key>
	<string>mage/x-fp</string>
	<key>exe</key>
	<string>pplication/octet-strea</string>
	<key>mif</key>
	<string>pplication/x-mi</string>
	<key>xlt</key>
	<string>pplication/vnd.ms-exce</string>
	<key>mps</key>
	<string>pplication/x-mapserve</string>
	<key>xdw</key>
	<string>pplication/vnd.fujixerox.docuwork</string>
	<key>vcf</key>
	<string>ext/x-vcar</string>
	<key>gca</key>
	<string>pplication/x-gca-compresse</string>
	<key>js</key>
	<string>text/javascript</string>
	<key>tad</key>
	<string>pplication/octet-strea</string>
	<key>dwf</key>
	<string>rawing/x-dw</string>
	<key>uu</key>
	<string>pplication/x-uuencod</string>
	<key>cmx</key>
	<string>pplication/x-cm</string>
	<key>dwg</key>
	<string>pplication/x-autoca</string>
	<key>xlw</key>
	<string>pplication/vnd.ms-exce</string>
	<key>rgb</key>
	<string>mage/x-rg</string>
	<key>nbmp</key>
	<string>mage/nbm</string>
	<key>ief</key>
	<string>mage/ie</string>
	<key>hdf</key>
	<string>pplication/x-hd</string>
	<key>vrt</key>
	<string>-world/x-vr</string>
	<key>man</key>
	<string>pplication/x-troff-ma</string>
	<key>tif</key>
	<string>mage/tif</string>
	<key>oda</key>
	<string>pplication/od</string>
	<key>mil</key>
	<string>mage/x-cal</string>
	<key>spc</key>
	<string>ext/x-speec</string>
	<key>map</key>
	<string>agnus-internal/imagema</string>
	<key>asx</key>
	<string>ideo/x-ms-as</string>
	<key>ustar</key>
	<string>pplication/x-usta</string>
	<key>xml</key>
	<string>ext/xm</string>
	<key>talk</key>
	<string>ext/x-speec</string>
	<key>vrw</key>
	<string>-world/x-vrea</string>
	<key>xhtm</key>
	<string>pplication/xhtml+xm</string>
	<key>vivo</key>
	<string>ideo/viv</string>
	<key>pm</key>
	<string>pplication/x-per</string>
	<key>mio</key>
	<string>udio/x-mi</string>
	<key>txt</key>
	<string>ext/plai</string>
	<key>rwc</key>
	<string>pplication/x-rogerwilc</string>
	<key>pmd</key>
	<string>pplication/x-pm</string>
	<key>xul</key>
	<string>ext/xu</string>
	<key>mbd</key>
	<string>pplication/mbedle</string>
	<key>eps</key>
	<string>pplication/postscrip</string>
	<key>gtar</key>
	<string>pplication/x-gta</string>
	<key>web</key>
	<string>pplication/vnd.xar</string>
	<key>pub</key>
	<string>pplication/x-mspublishe</string>
	<key>bmp</key>
	<string>mage/bm</string>
	<key>es</key>
	<string>udio/echospeec</string>
	<key>hdm</key>
	<string>ext/x-hdm</string>
	<key>ps</key>
	<string>pplication/postscrip</string>
	<key>yz1</key>
	<string>pplication/x-yz</string>
	<key>rnx</key>
	<string>pplication/vnd.rn-realplaye</string>
	<key>dot</key>
	<string>pplication/x-do</string>
	<key>wma</key>
	<string>udio/x-ms-wm</string>
	<key>cod</key>
	<string>mage/cis-co</string>
	<key>itz</key>
	<string>udio/x-mo</string>
	<key>amc</key>
	<string>pplication/x-mpe</string>
	<key>tar</key>
	<string>pplication/x-ta</string>
	<key>ndwn</key>
	<string>pplication/ndw</string>
	<key>als</key>
	<string>udio/X-Alpha</string>
	<key>texi</key>
	<string>pplication/x-texinf</string>
	<key>spl</key>
	<string>pplication/futuresplas</string>
	<key>wmlsc</key>
	<string>pplication/vnd.wap.wmlscript</string>
	<key>cgi</key>
	<string>agnus-internal/cg</string>
	<key>wmd</key>
	<string>pplication/x-ms-wm</string>
	<key>dxf</key>
	<string>pplication/x-autoca</string>
	<key>gdb</key>
	<string>-lml/x-gd</string>
	<key>htm</key>
	<string>ext/htm</string>
	<key>hlp</key>
	<string>pplication/winhl</string>
	<key>wmf</key>
	<string>pplication/x-msmetafil</string>
	<key>tkined</key>
	<string>pplication/x-tkine</string>
	<key>lak</key>
	<string>-lml/x-la</string>
	<key>wbmp</key>
	<string>mage/vnd.wap.wbm</string>
	<key>jwc</key>
	<string>pplication/jw</string>
	<key>mpga</key>
	<string>udio/mpe</string>
	<key>spr</key>
	<string>pplication/x-sprit</string>
	<key>swfl</key>
	<string>pplication/x-shockwave-flas</string>
	<key>xmz</key>
	<string>udio/x-mo</string>
	<key>zac</key>
	<string>pplication/x-zaurus-za</string>
	<key>jpeg</key>
	<string>mage/jpe</string>
	<key>taz</key>
	<string>pplication/x-ta</string>
	<key>ndb</key>
	<string>-lml/x-nd</string>
	<key>spt</key>
	<string>pplication/x-sp</string>
	<key>hts</key>
	<string>ext/htm</string>
	<key>shw</key>
	<string>pplication/presentation</string>
	<key>wml</key>
	<string>ext/vnd.wap.wm</string>
	<key>mrl</key>
	<string>ext/x-mrm</string>
	<key>csml</key>
	<string>hemical/x-csm</string>
	<key>mrm</key>
	<string>pplication/x-mr</string>
	<key>vdo</key>
	<string>ideo/vd</string>
	<key>imy</key>
	<string>udio/melod</string>
	<key>qtif</key>
	<string>mage/x-quicktim</string>
	<key>m3u</key>
	<string>udio/x-mpegur</string>
	<key>ifm</key>
	<string>mage/gi</string>
	<key>mpeg</key>
	<string>ideo/mpe</string>
	<key>embl</key>
	<string>hemical/x-embl-dl-nucleotid</string>
	<key>tbp</key>
	<string>pplication/x-timbukt</string>
	<key>ebk</key>
	<string>pplication/x-expandedboo</string>
	<key>trk</key>
	<string>-lml/x-gp</string>
	<key>png</key>
	<string>mage/pn</string>
	<key>bz2</key>
	<string>pplication/x-bzip</string>
	<key>dxr</key>
	<string>pplication/x-directo</string>
	<key>aifc</key>
	<string>udio/x-aif</string>
	<key>html</key>
	<string>ext/htm</string>
	<key>fm</key>
	<string>pplication/x-make</string>
	<key>trm</key>
	<string>pplication/x-mstermina</string>
	<key>avb</key>
	<string>pplication/octet-strea</string>
	<key>eri</key>
	<string>mage/x-er</string>
	<key>tbt</key>
	<string>pplication/x-timbukt</string>
	<key>ifs</key>
	<string>mage/if</string>
	<key>nsnd</key>
	<string>udio/nsn</string>
	<key>vmd</key>
	<string>pplication/vocaltec-media-des</string>
	<key>rpm</key>
	<string>udio/x-pn-realaudio-plugi</string>
	<key>xwd</key>
	<string>mage/x-xwindowdum</string>
	<key>cpio</key>
	<string>pplication/x-cpi</string>
	<key>wmv</key>
	<string>udio/x-ms-wm</string>
	<key>vmf</key>
	<string>pplication/vocaltec-media-fil</string>
	<key>qt</key>
	<string>ideo/quicktim</string>
	<key>pnm</key>
	<string>mage/x-portable-anyma</string>
	<key>vts</key>
	<string>orkbook/formulaon</string>
	<key>sis</key>
	<string>pplication/vnd.symbian.instal</string>
	<key>ins</key>
	<string>pplication/x-NET-Instal</string>
	<key>aiff</key>
	<string>udio/x-aif</string>
	<key>jpe</key>
	<string>mage/jpe</string>
	<key>ani</key>
	<string>pplication/octet-strea</string>
	<key>wmx</key>
	<string>ideo/x-ms-wm</string>
	<key>sit</key>
	<string>pplication/x-stuffi</string>
	<key>mzv</key>
	<string>pplication/metastrea</string>
	<key>pfr</key>
	<string>pplication/font-tdpf</string>
	<key>ivr</key>
	<string>-world/i-vrm</string>
	<key>src</key>
	<string>pplication/x-wais-sourc</string>
	<key>wmlscript</key>
	<string>ext/vnd.wap.wmlscrip</string>
	<key>vmi</key>
	<string>pplication/x-dreamcast-vms-inf</string>
	<key>jpg</key>
	<string>mage/jpe</string>
	<key>zip</key>
	<string>pplication/zip</string>
	<key>wmz</key>
	<string>pplication/x-ms-wm</string>
	<key>avi</key>
	<string>ideo/x-msvide</string>
	<key>ai</key>
	<string>pplication/postscrip</string>
	<key>dir</key>
	<string>pplication/x-directo</string>
	<key>m3url</key>
	<string>udio/x-mpegur</string>
	<key>lzh</key>
	<string>pplication/x-lz</string>
	<key>mdb</key>
	<string>pplication/x-msacces</string>
	<key>tki</key>
	<string>pplication/x-tkine</string>
	<key>tcl</key>
	<string>pplication/x-tc</string>
	<key>wi</key>
	<string>mage/wavele</string>
	<key>s3m</key>
	<string>udio/x-mo</string>
	<key>ptlk</key>
	<string>pplication/listenu</string>
	<key>lcc</key>
	<string>pplication/fastma</string>
	<key>mct</key>
	<string>pplication/x-masco</string>
	<key>wm</key>
	<string>ideo/x-ms-w</string>
	<key>tsi</key>
	<string>udio/tsplaye</string>
	<key>bld2</key>
	<string>pplication/bld</string>
	<key>roff</key>
	<string>pplication/x-trof</string>
	<key>ram</key>
	<string>udio/x-pn-realaudi</string>
	<key>jad</key>
	<string>ext/vnd.sun.j2me.app-descripto</string>
	<key>nokia-op-logo</key>
	<string>mage/vnd.nok-oplogo-colo</string>
	<key>cpt</key>
	<string>pplication/mac-compactpr</string>
	<key>sca</key>
	<string>pplication/x-supercar</string>
	<key>ws</key>
	<string>ext/vnd.wap.wmlscrip</string>
	<key>au</key>
	<string>udio/basi</string>
	<key>ra</key>
	<string>udio/x-pn-realaudi</string>
	<key>cal</key>
	<string>mage/x-cal</string>
	<key>wv</key>
	<string>ideo/wavele</string>
	<key>awb</key>
	<string>udio/amr-w</string>
	<key>vms</key>
	<string>pplication/x-dreamcast-vm</string>
	<key>pgm</key>
	<string>mage/x-portable-grayma</string>
	<key>rar</key>
	<string>pplication/x-rar-compresse</string>
	<key>pnz</key>
	<string>mage/pn</string>
	<key>scd</key>
	<string>pplication/x-msschedul</string>
	<key>pvx</key>
	<string>ideo/x-pv-pv</string>
	<key>ras</key>
	<string>mage/x-cmu-raste</string>
	<key>rf</key>
	<string>mage/vnd.rn-realflas</string>
	<key>tsp</key>
	<string>pplication/dsptyp</string>
	<key>ult</key>
	<string>udio/x-mo</string>
	<key>fh4</key>
	<string>mage/x-freehan</string>
	<key>lsf</key>
	<string>ideo/x-ms-as</string>
	<key>j2k</key>
	<string>mage/j2</string>
	<key>m13</key>
	<string>pplication/x-msmediavie</string>
	<key>lcl</key>
	<string>pplication/x-digitalloc</string>
	<key>fh5</key>
	<string>mage/x-freehan</string>
	<key>esl</key>
	<string>udio/echospeec</string>
	<key>skd</key>
	<string>pplication/x-Koa</string>
	<key>xpi</key>
	<string>pplication/x-xpinstal</string>
	<key>m14</key>
	<string>pplication/x-msmediavie</string>
	<key>m15</key>
	<string>udio/x-mo</string>
	<key>bpk</key>
	<string>pplication/octet-strea</string>
	<key>uue</key>
	<string>pplication/x-uuencod</string>
	<key>rm</key>
	<string>udio/x-pn-realaudi</string>
	<key>jam</key>
	<string>pplication/x-ja</string>
	<key>s3z</key>
	<string>udio/x-mo</string>
	<key>wvx</key>
	<string>ideo/x-ms-wv</string>
	<key>rp</key>
	<string>mage/vnd.rn-realpi</string>
	<key>ttf</key>
	<string>pplication/octet-strea</string>
	<key>xpm</key>
	<string>mage/x-xpixma</string>
	<key>tsv</key>
	<string>ext/tab-separated-value</string>
	<key>mp2</key>
	<string>udio/x-mpe</string>
	<key>lcr</key>
	<string>pplication/x-digitalloc</string>
	<key>jpz</key>
	<string>mage/jpe</string>
	<key>rt</key>
	<string>ext/vnd.rn-realtex</string>
	<key>etc</key>
	<string>pplication/x-earthtim</string>
	<key>mpg4</key>
	<string>ideo/mp</string>
	<key>mp3</key>
	<string>udio/x-mpe</string>
	<key>pot</key>
	<string>pplication/vnd.ms-powerpoin</string>
	<key>rv</key>
	<string>ideo/vnd.rn-realvide</string>
	<key>chat</key>
	<string>pplication/x-cha</string>
	<key>mp4</key>
	<string>ideo/mp</string>
	<key>nva</key>
	<string>pplication/x-neva</string>
	<key>jar</key>
	<string>pplication/java-archiv</string>
	<key>midi</key>
	<string>udio/mid</string>
	<key>me</key>
	<string>pplication/x-troff-m</string>
	<key>xht</key>
	<string>pplication/xhtml+xm</string>
	<key>gz</key>
	<string>pplication/x-gzi</string>
	<key>crd</key>
	<string>pplication/x-mscardfil</string>
	<key>skm</key>
	<string>pplication/x-Koa</string>
	<key>mi</key>
	<string>pplication/x-mi</string>
	<key>mmf</key>
	<string>pplication/x-skt-lb</string>
	<key>mts</key>
	<string>pplication/metastrea</string>
	<key>dcm</key>
	<string>-lml/x-ev</string>
	<key>skp</key>
	<string>pplication/x-Koa</string>
	<key>mdz</key>
	<string>udio/x-mo</string>
	<key>r3t</key>
	<string>ext/vnd.rn-realtext3</string>
	<key>jnlp</key>
	<string>pplication/x-java-jnlp-fil</string>
	<key>xm</key>
	<string>udio/x-mo</string>
	<key>dhtml</key>
	<string>ext/htm</string>
	<key>vrml</key>
	<string>-world/x-vrm</string>
	<key>mel</key>
	<string>ext/x-vme</string>
	<key>ma1</key>
	<string>udio/ma</string>
	<key>nmz</key>
	<string>pplication/x-screa</string>
	<key>slc</key>
	<string>pplication/x-sals</string>
	<key>pac</key>
	<string>udio/x-pa</string>
</dict>
</plist>
